---
import { Image } from 'astro:assets';
import image1 from '@images/placeholders/cat_1.jpg';
import image2 from '@images/placeholders/cat_2.jpg';
import image3 from '@images/placeholders/cat_3.jpg';
import image4 from '@images/placeholders/cat_4.jpg';
import Layout from '@layouts/Layout.astro';
import type { MetaData } from '@lib/index';
import '@styles/two_column.css';

const metaData: MetaData = {
  title: 'Full Bleed Images - Layout Bleeds Demo',
  description:
    'Demonstration of full-bleed split-screen layouts with responsive images that resize to match content height.',
};
---

<Layout metaData={metaData}>
  <section class="page">
    <h1>Full Bleed Images Two Column</h1>
    <p class="txt-center">
      Images are resized to cover the height of the parent element.<br />
      Scroll down
    </p>
    <!-- <p>
      Based on
      <a href="https://www.youtube.com/watch?v=Ivk8Blw2VTI" target="_blank">
      this technique by Kevin Powell
      </a>.
    </p> -->
  </section>

  <section class="full-width-split-screen">
    <div class="primary">
      <h2>A Picture 1</h2>
      <p>
        Sunt nisi aute pariatur labore tempor magna dolore eu. Cillum pariatur
        anim commodo sint exercitation sint velit. Veniam dolore magna enim
        velit aute aute dolor irure tempor.
      </p>
      <p>
        Aliqua deserunt laboris eiusmod et id occaecat reprehenderit adipisicing
        enim amet incididunt commodo veniam nostrud. Irure labore laborum anim
        velit ullamco. In irure esse Lorem dolore et.
      </p>
      <p>
        Nulla non minim sunt anim tempor adipisicing nisi anim incididunt enim.
        Deserunt est qui ex esse qui laborum est dolore cillum. Pariatur enim
        irure exercitation magna cillum id exercitation nisi deserunt do
        consequat quis voluptate. Commodo ut ad pariatur duis sunt velit veniam
        minim.
      </p>
    </div>
    <Image
      src={image1}
      quality={40}
      alt="Cat lying down staring at camera"
      layout="full-width"
    />
  </section>

  <section class="full-width-split-screen">
    <Image
      src={image2}
      quality={40}
      alt="A cute kitten"
      loading={'eager'}
      layout="full-width"
    />
    <div class="secondary">
      <h2>A Picture 2</h2>
      <p>
        Et esse laborum minim occaecat minim dolor nulla elit officia ut ea id.
        Lorem deserunt officia nulla dolor ullamco in Lorem Lorem eu. Ad sunt do
        laboris id exercitation enim. Cupidatat nisi ad incididunt ullamco
        consectetur est aliquip mollit tempor ex Lorem. Veniam ad mollit veniam
        esse officia esse commodo elit aute nisi enim veniam laboris sit. Enim
        enim officia Lorem ipsum est qui incididunt incididunt sit in eiusmod.
      </p>
      <p>
        Nulla non minim sunt anim tempor adipisicing nisi anim incididunt enim.
        Deserunt est qui ex esse qui laborum est dolore cillum. Pariatur enim
        irure exercitation magna cillum id exercitation nisi deserunt do
        consequat quis voluptate. Commodo ut ad pariatur duis sunt velit veniam
        minim.
      </p>

      <p>
        Do sunt ex do veniam consectetur enim. Ex ut irure excepteur dolor duis
        et mollit amet proident velit cupidatat proident in eiusmod. Aliqua
        aliquip mollit sit nisi amet reprehenderit Lorem eiusmod magna occaecat
        magna. Duis amet aliquip dolore dolore voluptate consectetur. Deserunt
        commodo do laboris elit culpa sint ut. Deserunt reprehenderit ex
        pariatur deserunt aute laborum reprehenderit aliquip aliqua excepteur ut
        enim nisi.
      </p>
    </div>
  </section>

  <section class="full-width-split-screen">
    <div class="tertiary">
      <h2>A Picture 3</h2><p>
        Elit dolor voluptate cupidatat labore qui adipisicing cillum. Proident
        dolore ad magna anim nulla aliqua veniam. Deserunt deserunt eiusmod in
        do labore dolore anim. Ea esse mollit est in dolor qui cillum amet
        veniam sunt excepteur ad id. Deserunt pariatur ullamco non est et ut
        dolore. Esse eiusmod anim velit reprehenderit occaecat incididunt dolor
        laboris.
      </p>
      <p>
        Nulla non minim sunt anim tempor adipisicing nisi anim incididunt enim.
        Deserunt est qui ex esse qui laborum est dolore cillum. Pariatur enim
        irure exercitation magna cillum id exercitation nisi deserunt do
        consequat quis voluptate. Commodo ut ad pariatur duis sunt velit veniam
        minim.
      </p>
      <p>
        Nulla non minim sunt anim tempor adipisicing nisi anim incididunt enim.
        Deserunt est qui ex esse qui laborum est dolore cillum. Pariatur enim
        irure exercitation magna cillum id exercitation nisi deserunt do
        consequat quis voluptate. Commodo ut ad pariatur duis sunt velit veniam
        minim.
      </p>
    </div>
    <Image src={image3} quality={40} alt="Playful cats" />
  </section>

  <section class="full-width-split-screen">
    <Image
      src={image4}
      quality={40}
      alt="Ginger kitten in grassy field"
      layout="full-width"
    />
    <div class="quaternary">
      <h2>A Picture 4</h2>
      <p>
        Et esse laborum minim occaecat minim dolor nulla elit officia ut ea id.
        Lorem deserunt officia nulla dolor ullamco in Lorem Lorem eu. Ad sunt do
        laboris id exercitation enim. Cupidatat nisi ad incididunt ullamco
        consectetur est aliquip mollit tempor ex Lorem. Veniam ad mollit veniam
        esse officia esse commodo elit aute nisi enim veniam laboris sit. Enim
        enim officia Lorem ipsum est qui incididunt incididunt sit in eiusmod.
      </p>
      <p>
        Nulla non minim sunt anim tempor adipisicing nisi anim incididunt enim.
        Deserunt est qui ex esse qui laborum est dolore cillum. Pariatur enim
        irure exercitation magna cillum id exercitation nisi deserunt do
        consequat quis voluptate. Commodo ut ad pariatur duis sunt velit veniam
        minim.
      </p>
      <p>
        Do sunt ex do veniam consectetur enim. Ex ut irure excepteur dolor duis
        et mollit amet proident velit cupidatat proident in eiusmod. Aliqua
        aliquip mollit sit nisi amet reprehenderit Lorem eiusmod magna occaecat
        magna. Duis amet aliquip dolore dolore voluptate consectetur. Deserunt
        commodo do laboris elit culpa sint ut. Deserunt reprehenderit ex
        pariatur deserunt aute laborum reprehenderit aliquip aliqua excepteur ut
        enim nisi.
      </p>
    </div>
  </section>
  <section class="full-width-split-screen">
    <Image
      src={image3}
      quality={40}
      layout="full-width"
      alt="Mice run away from this duo"
    />
    <Image
      src={image4}
      quality={40}
      layout="full-width"
      alt="Ginger kitten in grassy field"
    />
  </section>
  <section class="full-width-split-screen">
    <div class="quaternary">
      <h3>First Columnn</h3>
      <p>
        Dolor laborum eu ullamco fugiat labore eiusmod qui excepteur minim aute
        laboris dolore sit labore. Mollit pariatur nisi tempor est minim ipsum.
        Eiusmod veniam nostrud veniam dolore.
      </p>
      <p>
        Deserunt minim aliquip commodo et deserunt labore. Nisi pariatur culpa
        minim id voluptate aute mollit tempor magna.
      </p>
    </div>
    <div class="primary">
      <h3>Second Column</h3>
      <p>
        Dolor laborum eu ullamco fugiat labore eiusmod qui excepteur minim aute
        laboris dolore sit labore. Mollit pariatur nisi tempor est minim ipsum.
        Eiusmod veniam nostrud veniam dolore.
      </p>
      <p>
        Ex fugiat deserunt minim aliquip commodo et deserunt labore. Nisi
        pariatur culpa minim id voluptate aute mollit tempor magna.
      </p>
      <p>
        Dolor laborum eu ullamco fugiat labore eiusmod qui excepteur minim aute
        laboris dolore sit labore. Mollit pariatur nisi tempor est minim ipsum.
        Eiusmod veniam nostrud veniam dolore.
      </p>
    </div>
  </section>

  <section class="wrapper">
    <p class="lede">
      Officia laborum exercitation aliquip adipisicing nisi laborum eiusmod et
      nulla. Adipisicing occaecat exercitation magna sunt reprehenderit Lorem.
      Consequat ea et ex commodo consectetur eu sunt laboris Lorem dolor. Fugiat
      dolore sint et laboris in elit.
    </p>
    <hr />
    <p>
      Non aliqua ea proident cillum officia est dolor adipisicing consequat sint
      nostrud qui cillum. Sit sit ullamco esse ad do mollit enim labore. Fugiat
      laboris nostrud ea irure culpa est nostrud consequat nisi ullamco. Aliquip
      duis aliqua pariatur ad aute culpa occaecat mollit elit pariatur sit
      commodo elit quis. Do et velit aliqua reprehenderit dolore do ea. Et amet
      mollit culpa excepteur nisi in do. Nisi dolore officia labore ullamco.
    </p>
  </section>
  <section class="full-width-split-screen overlay">
    <Image
      src={image3}
      quality={40}
      layout="full-width"
      alt="Mice run away from this duo"
    />
    <div>
      <h2>Overlay</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eum,
        culpa totam molestias blanditiis maiores asperiores, consectetur animi,
        doloribus facilis inventore ducimus atque sequi expedita temporibus
        ratione. Facilis, esse ipsam. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Illum, quaerat voluptatibus placeat deleniti ipsum
        nostrum non odio fuga mollitia! Repellat, qui esse. Doloremque autem et
        fuga. Corporis molestias modi voluptate.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eum,
        culpa totam molestias blanditiis maiores asperiores, consectetur animi,
        doloribus facilis inventore ducimus atque sequi expedita temporibus
        ratione. Facilis, esse ipsam. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Illum, quaerat voluptatibus placeat deleniti ipsum
        nostrum non odio fuga mollitia! Repellat, qui esse. Doloremque autem et
        fuga. Corporis molestias modi voluptate.
      </p>
    </div>
    <Image
      src={image4}
      quality={40}
      layout="full-width"
      alt="Ginger kitten in grassy field"
    />
    <div>
      <h2>Overlay 2A</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eum,
        culpa totam molestias blanditiis maiores asperiores, consectetur animi,
        doloribus facilis inventore ducimus atque sequi expedita temporibus
        ratione. Facilis, esse ipsam.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eum,
        culpa totam molestias blanditiis maiores asperiores, consectetur animi,
        doloribus facilis inventore ducimus atque sequi expedita temporibus
        ratione. Facilis, esse ipsam.
      </p>
    </div>
  </section>
</Layout>
<style>
  :root {
    --wrapper-padding-inline: var(--size-fluid-4);
    --wrapper-max-width: 120ch;
    --section-padding-block: var(--size-fluid-4);
    --paragraph-max-width: 55ch;
  }
  * {
    line-height: var(--font-lineheight-3);
    /* outline: solid 1px red; */
    font-family: var(--font-sans);
  }
  h1 {
    color: var(--teal-10);
    font-size: var(--font-size-fluid-3);
    font-family: var(--font-serif);
  }
  h2 {
    font-weight: 500;
    font-size: var(--font-size-fluid-2);
    font-family: var(--font-serif);
  }
  p {
    margin-top: var(--space-s);
    max-width: var(--paragraph-max-width);
    color: var(--gray-11);
    font-size: var(--step-0);
  }
  .lede {
    font-weight: 600;
    font-size: var(--step-1);
  }
  .primary {
    background: var(--teal-1);
  }
  .secondary {
    background: var(--lime-2);
  }
  .tertiary {
    background: var(--teal-4);
  }
  .quaternary {
    background: var(--lime-4);
  }
  .page {
    display: grid;
    align-content: center;
    background: var(--lime-2);
    height: 100vh;
    text-align: center;
  }
  .wrapper {
    margin-inline: auto;
    padding-inline: var(--wrapper-padding-inline);
    max-width: var(--wrapper-max-width);
  }
  .txt-center {
    display: inline-block;
    margin-inline: auto;
    text-align: center;
  }
</style>
<script src="@scripts/image-sizes.ts"></script>
