---
import { Image } from 'astro:assets';
import image1 from '@images/placeholders/cat_1.jpg';
import image2 from '@images/placeholders/cat_2.jpg';
import image3 from '@images/placeholders/cat_3.jpg';
import image4 from '@images/placeholders/cat_4.jpg';
import Layout from '@layouts/Layout.astro';
import type { MetaData } from '@lib/index';
import '@styles/two_column.css';

const metaData: MetaData = {
  title: 'Animated Split-Screen - Layout Bleeds Demo',
  description:
    'Split-screen layout with scroll-triggered animations using Motion library.',
};
---

<Layout metaData={metaData}>
  <section class="full-width-split-screen | primary">
    <div class="fade-left">
      <h2>Fit Image To Row Height</h2>
      <h3>Padding for text on rhs needs fixing</h3>
      <p>
        Sunt nisi aute pariatur labore tempor magna dolore eu. Cillum pariatur
        anim commodo sint exercitation sint velit. Veniam dolore magna enim
        velit aute aute dolor irure tempor.
      </p>
      <p>
        Aliqua deserunt laboris eiusmod et id occaecat reprehenderit adipisicing
        enim amet incididunt commodo veniam nostrud. Irure labore laborum anim
        velit ullamco. In irure esse Lorem dolore et.
      </p>
      <p>
        Nulla non minim sunt anim tempor adipisicing nisi anim incididunt enim.
        Deserunt est qui ex esse qui laborum est dolore cillum. Pariatur enim
        irure exercitation magna cillum id exercitation nisi deserunt do
        consequat quis voluptate. Commodo ut ad pariatur duis sunt velit veniam
        minim.
      </p>
      <Image
        src={image1}
        format={'avif'}
        quality={10}
        alt="Cat lying down staring at camera"
        loading={'eager'}
        layout="full-width"
      />
    </div>
    <Image
      src={image1}
      format={'avif'}
      quality={40}
      alt="Cat lying down staring at camera"
      loading={'eager'}
      layout="full-width"
    />
  </section>

  <section class="full-width-split-screen | secondary">
    <Image
      src={image2}
      format={'avif'}
      quality={40}
      alt="A cute kitten"
      loading={'eager'}
      layout="full-width"
    />
    <div>
      <h2>A Picture 2</h2>
      <p>
        Et esse laborum minim occaecat minim dolor nulla elit officia ut ea id.
        Lorem deserunt officia nulla dolor ullamco in Lorem Lorem eu. Ad sunt do
        laboris id exercitation enim. Cupidatat nisi ad incididunt ullamco
        consectetur est aliquip mollit tempor ex Lorem. Veniam ad mollit veniam
        esse officia esse commodo elit aute nisi enim veniam laboris sit. Enim
        enim officia Lorem ipsum est qui incididunt incididunt sit in eiusmod.
      </p>
      <p>
        Nulla non minim sunt anim tempor adipisicing nisi anim incididunt enim.
        Deserunt est qui ex esse qui laborum est dolore cillum. Pariatur enim
        irure exercitation magna cillum id exercitation nisi deserunt do
        consequat quis voluptate. Commodo ut ad pariatur duis sunt velit veniam
        minim.
      </p>
    </div>
  </section>

  <section class="full-width-split-screen | tertiary">
    <div class="fade-left">
      <h2>Another Picture of Meancing Cats Picture 3</h2><p>
        Elit dolor voluptate cupidatat labore qui adipisicing cillum. Proident
        dolore ad magna anim nulla aliqua veniam. Deserunt deserunt eiusmod in
        do labore dolore anim. Ea esse mollit est in dolor qui cillum amet
        veniam sunt excepteur ad id. Deserunt pariatur ullamco non est et ut
        dolore. Esse eiusmod anim velit reprehenderit occaecat incididunt dolor
        laboris.
      </p>
      <p>
        Nulla non minim sunt anim tempor adipisicing nisi anim incididunt enim.
        Deserunt est qui ex esse qui laborum est dolore cillum. Pariatur enim
        irure exercitation magna cillum id exercitation nisi deserunt do
        consequat quis voluptate. Commodo ut ad pariatur duis sunt velit veniam
        minim.
      </p>
      <p>
        Nulla non minim sunt anim tempor adipisicing nisi anim incididunt enim.
        Deserunt est qui ex esse qui laborum est dolore cillum. Pariatur enim
        irure exercitation magna cillum id exercitation nisi deserunt do
        consequat quis voluptate. Commodo ut ad pariatur duis sunt velit veniam
        minim.
      </p>
    </div>
    <Image
      src={image3}
      format={'avif'}
      quality={40}
      layout="full-width"
      alt="Playful cats"
    />
  </section>

  <section class="full-width-split-screen | quaternary">
    <Image
      src={image4}
      format={'avif'}
      quality={40}
      layout="full-width"
      alt="Ginger kitten in grassy field"
      class="fade-left"
    />
    <div class="fade-right">
      <h2>A Picture 4</h2>
      <p>
        Et esse laborum minim occaecat minim dolor nulla elit officia ut ea id.
        Lorem deserunt officia nulla dolor ullamco in Lorem Lorem eu. Ad sunt do
        laboris id exercitation enim. Cupidatat nisi ad incididunt ullamco
        consectetur est aliquip mollit tempor ex Lorem. Veniam ad mollit veniam
        esse officia esse commodo elit aute nisi enim veniam laboris sit. Enim
        enim officia Lorem ipsum est qui incididunt incididunt sit in eiusmod.
      </p>
      <p>
        Nulla non minim sunt anim tempor adipisicing nisi anim incididunt enim.
        Deserunt est qui ex esse qui laborum est dolore cillum. Pariatur enim
        irure exercitation magna cillum id exercitation nisi deserunt do
        consequat quis voluptate. Commodo ut ad pariatur duis sunt velit veniam
        minim.
      </p>
      <p>
        Do sunt ex do veniam consectetur enim. Ex ut irure excepteur dolor duis
        et mollit amet proident velit cupidatat proident in eiusmod. Aliqua
        aliquip mollit sit nisi amet reprehenderit Lorem eiusmod magna occaecat
        magna. Duis amet aliquip dolore dolore voluptate consectetur. Deserunt
        commodo do laboris elit culpa sint ut. Deserunt reprehenderit ex
        pariatur deserunt aute laborum reprehenderit aliquip aliqua excepteur ut
        enim nisi.
      </p>
    </div>
  </section>
  <section class="full-width-split-screen | primary">
    <Image
      src={image3}
      format={'avif'}
      quality={40}
      layout="full-width"
      alt="Mice run away from this duo"
      class="fade-left"
    />
    <Image
      src={image4}
      format={'avif'}
      quality={40}
      layout="full-width"
      alt="Ginger kitten in grassy field"
      class="fade-right"
    />
  </section>
  <section class="full-width-split-screen primary">
    <div class="fade-up">
      <h3>First</h3>
      <p>
        Dolor laborum eu ullamco fugiat labore eiusmod qui excepteur minim aute
        laboris dolore sit labore. Mollit pariatur nisi tempor est minim ipsum.
        Eiusmod veniam nostrud veniam dolore.
      </p><p>
        Deserunt minim aliquip commodo et deserunt labore. Nisi pariatur culpa
        minim id voluptate aute mollit tempor magna.
      </p>
    </div>
    <div class="fade-up">
      <h3>Second</h3>
      <p>
        Dolor laborum eu ullamco fugiat labore eiusmod qui excepteur minim aute
        laboris dolore sit labore. Mollit pariatur nisi tempor est minim ipsum.
        Eiusmod veniam nostrud veniam dolore.
      </p>
      <p>
        Ex fugiat deserunt minim aliquip commodo et deserunt labore. Nisi
        pariatur culpa minim id voluptate aute mollit tempor magna.
      </p>
      <p>
        Dolor laborum eu ullamco fugiat labore eiusmod qui excepteur minim aute
        laboris dolore sit labore. Mollit pariatur nisi tempor est minim ipsum.
        Eiusmod veniam nostrud veniam dolore.
      </p>
    </div>
  </section>

  <section class="wrapper">
    <p class="lede">
      Officia laborum exercitation aliquip adipisicing nisi laborum eiusmod et
      nulla. Adipisicing occaecat exercitation magna sunt reprehenderit Lorem.
      Consequat ea et ex commodo consectetur eu sunt laboris Lorem dolor. Fugiat
      dolore sint et laboris in elit.
    </p>
    <hr />
    <p>
      Non aliqua ea proident cillum officia est dolor adipisicing consequat sint
      nostrud qui cillum. Sit sit ullamco esse ad do mollit enim labore. Fugiat
      laboris nostrud ea irure culpa est nostrud consequat nisi ullamco. Aliquip
      duis aliqua pariatur ad aute culpa occaecat mollit elit pariatur sit
      commodo elit quis. Do et velit aliqua reprehenderit dolore do ea. Et amet
      mollit culpa excepteur nisi in do. Nisi dolore officia labore ullamco.
    </p>
  </section>
</Layout>
<style>
  /* OKLCH Gradient Designer */
  /* https://gradient.style/ */
  :root {
    --wrapper-padding-inline: var(--size-fluid-4);
    --wrapper-max-width: 95ch;
    --section-padding-block: var(--size-fluid-4);
    --paragraph-max-width: 69ch;
  }
  * {
    line-height: var(--font-lineheight-3);
    /* outline: solid 1px red; */
    font-family: var(--font-sans);
  }
  h1,
  h2,
  h3 {
    font-weight: var(--font-weight-6);
    line-height: var(--font-lineheight-0);
    font-family: var(--font-neo-grotesque);
    text-wrap: balance;
  }
  h1 {
    color: var(--teal-10);
    font-size: var(--font-size-fluid-3);
  }
  h2 {
    font-weight: 500;
    font-size: var(--font-size-fluid-2);
  }
  p {
    margin-top: var(--space-s);
    max-width: var(--paragraph-max-width);
    color: var(--gray-11);
    font-size: var(--step-0);
    text-wrap: pretty;
  }
  .lede {
    font-weight: 600;
    font-size: var(--step-1);
  }
  .primary {
    background: var(--teal-1);
  }
  .secondary {
    background: var(--lime-2);
  }
  .tertiary {
    background: var(--teal-4);
  }
  .quaternary {
    background-image: linear-gradient(
      to top in oklch,
      oklch(58% 0.5 340) 5% 5%,
      75%,
      oklch(90% 0.5 10) 100% 100%
    );
    color: var(--stone-0);
    p {
      color: var(--stone-0);
    }
  }
  .page {
    display: grid;
    align-content: center;
    background: var(--lime-2);
    height: 100vh;
    text-align: center;
  }
  .wrapper {
    margin-inline: auto;
    padding-inline: var(--wrapper-padding-inline);
    max-width: var(--wrapper-max-width);
  }
  .txt-center {
    display: inline-block;
    margin-inline: auto;
    text-align: center;
  }
  img {
    border: 0;
    border-radius: calc(var(--size-fluid-4) * 2);
    padding: var(--size-fluid-4);
    overflow: hidden;
  }
  .fade-left,
  .fade-right,
  .fade-up {
    opacity: 0;
  }
</style>
<script src="@scripts/image-sizes.ts"></script>
<script>
  import { animate, inView, easeInOut } from 'motion';

  function initAnimations() {
    inView('.fade-left', (element) => {
      animate(
        element,
        { opacity: [0, 1], x: [-250, 0] },
        {
          ease: [0.39, 0.24, 0.3, 1],
          duration: 1,
        },
      );
    });
    inView('.fade-right', (element) => {
      animate(
        element,
        { opacity: [0, 1], x: [250, 0] },
        {
          ease: [0.39, 0.24, 0.3, 1],
          duration: 1,
        },
      );
    });
    inView('.fade-up', (element) => {
      animate(
        element,
        { opacity: [0, 1], y: [250, 0] },
        {
          ease: easeInOut,
          duration: 0.5,
          delay: 0.2,
        },
      );
    });
  }
  // Initialize on load
  initAnimations();

  // Reinitialize after Astro transitions
  document.addEventListener('astro:page-load', initAnimations);
  document.addEventListener('astro:after-swap', initAnimations);
</script>
